.container
{
  width: 500px;
  height: 300px;
  background-color: blueviolet;
  gap:20px;
  display: grid;
  grid-template-columns: repeat(auto-fill,100px);
}

.box
{
   display: grid;
   height: 100px;
   background-color: red;

}
#img_my
{
  width:300px;
}

.big
{
    width: 200px;
    height: 100px;
    background-color: aqua;
}

.small
{
    width: 150px;
    height: 50px;
    background-color: rgb(255, 0, 119);
    display: grid;
    border: 20px;
}